{% extends "store/base.html" %}
{% block content%}
    <h1>Your Orders</h1>
    <table>
        <thead>
            <tr>
                <th>Order ID</th>
                <th>Product Name</th>
                <th>Date</th>
                <th>Status</th>
                <th>Address</th>
                <th>Price</th>
            </tr>
        </thead>
        <tbody>
            {% for order_item in data %}
            <tr>
                <td>{{ order_item.id }}</td>
                <td>{{ order_item.order_item.name }}</td>
                <td>{{ order_item.date }}</td>
                <td>{{ order_item.order_status }}</td>
                <td>{{ order_item.address }}</td>
                <td>{{ order_item.price }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock%}
